In [25]:
import pandas as pd
import datetime as dt
import dateutil as du
import date_library as datelib
import time

In [62]:
fn = "output_attr_stats.csv"
df = pd.read_csv(fn)

In [19]:
ts = df.timestamp.astype(int).values

In [20]:
ts[0]

1431081480

In [24]:
datelib.timestampToDateTimeUTC(ts[0])

('2015-05-08', '10:38')

In [51]:
ts1 = ts[ts > 0]
min_timestamp = ts1.min()
ts2 = ts1 - min_timestamp
nb_days = ts2 / (24 * 3600)
list(nb_days.astype(int));

In [52]:
minTime = list(ts)
minTime.sort() #ascending=True)[0:5]
minTime;

In [54]:
for i in range(1000):
    continue
    month = time.strftime('%M', time.gmtime(ts[i]))
    print(month)

In [84]:
df['year_sent'] = df.date_sent.str[0:4]
df['month_sent'] = df.date_sent.str[5:7]
df['day_sent'] = df.date_sent.str[8:10]

In [85]:
df.columns

Index(['filenm', 'From', 'Sent', 'To', 'CC', 'Bcc', 'Subject', 'Attachments',
       'Importance', 'isThread', 'isAutoMessage', 'isDisplacement',
       'hasAllCapLine', 'hasBadDate', 'Body', 'timestamp', 'date_sent',
       'time_sent', 'cc', 'nb_words', 'nb_chars', 'body_len', 'body',
       'mn_nb_words', 'std_nb_words', 'mn_nb_chars', 'std_nb_chars',
       'email_count', 'year_sent', 'month_sent', 'day_sent'],
      dtype='object')

In [86]:
date_cols = ['year_sent', 'month_sent', 'day_sent']
df[date_cols]

      year_sent month_sent day_sent
0          2015         05       08
1          2014         08       19
2          2013         05       28
3          2017         03       15
4          2015         06       07
...         ...        ...      ...
35937      2017         07       19
35938      2017         02       03
35939      2017         08       10
35940      2017         02       22
35941      2013         05       28

[35942 rows x 3 columns]

In [103]:
dfg = df.groupby('year_sent')
dfg.get_group('2015')
dfg.groups

{'2008': [10582, 12197, 12783, 22244], '2010': [7747, 14690, 26031], '2011': [1164, 17535, 22186, 27685], '2012': [8, 11, 19, 23, 30, 39, 40, 54, 61, 62, 66, 81, 99, 100, 121, 128, 138, 143, 154, 161, 171, 189, 201, 205, 235, 247, 249, 256, 258, 264, 271, 275, 290, 294, 297, 314, 321, 330, 345, 350, 351, 354, 367, 373, 394, 410, 416, 417, 422, 445, 459, 475, 488, 495, 501, 521, 523, 530, 558, 559, 569, 573, 577, 583, 596, 617, 621, 624, 635, 645, 646, 658, 662, 699, 716, 721, 751, 757, 763, 765, 777, 795, 798, 803, 816, 827, 833, 851, 946, 956, 958, 993, 997, 1001, 1002, 1012, 1020, 1072, 1089, 1090, ...], '2013': [2, 14, 22, 26, 27, 31, 34, 35, 37, 41, 42, 46, 49, 50, 52, 57, 70, 71, 72, 82, 87, 105, 116, 117, 118, 119, 123, 126, 131, 133, 135, 141, 142, 149, 150, 151, 153, 162, 165, 168, 176, 184, 193, 203, 208, 217, 221, 226, 232, 233, 234, 237, 242, 252, 253, 255, 259, 263, 268, 274, 279, 280, 285, 288, 289, 295, 296, 299, 301, 302, 303, 305, 307, 309, 310, 315, 320, 323, 325, 331, 334, 335, 336, 337, 339, 341, 353, 355, 356, 368, 372, 375, 376, 382, 384, 389, 390, 396, 398, 399, ...], '2014': [1, 25, 48, 51, 55, 65, 77, 79, 97, 101, 103, 120, 129, 136, 140, 156, 160, 169, 170, 178, 180, 187, 191, 192, 206, 212, 213, 215, 220, 225, 228, 238, 243, 244, 246, 251, 278, 281, 324, 328, 344, 349, 366, 379, 383, 385, 386, 388, 395, 401, 421, 431, 457, 464, 467, 473, 476, 479, 480, 484, 491, 524, 527, 531, 549, 562, 566, 581, 616, 620, 630, 644, 648, 650, 666, 679, 702, 710, 711, 718, 722, 732, 742, 745, 749, 753, 754, 756, 767, 775, 785, 787, 791, 794, 815, 821, 822, 823, 826, 830, ...], '2015': [0, 4, 7, 9, 10, 16, 17, 18, 21, 33, 36, 45, 53, 58, 68, 69, 76, 78, 83, 84, 85, 88, 90, 92, 102, 104, 109, 110, 111, 112, 114, 125, 145, 146, 164, 175, 181, 183, 186, 199, 209, 216, 219, 227, 229, 230, 245, 257, 266, 269, 283, 284, 298, 312, 317, 319, 322, 340, 343, 348, 357, 359, 360, 363, 371, 374, 377, 381, 387, 391, 392, 393, 402, 403, 406, 407, 412, 418, 427, 438, 439, 441, 462, 463, 472, 478, 487, 497, 499, 502, 505, 506, 508, 511, 513, 514, 515, 525, 526, 534, ...], '2016': [6, 12, 28, 32, 43, 59, 60, 63, 73, 80, 86, 89, 91, 96, 98, 106, 113, 115, 122, 132, 134, 137, 139, 144, 147, 148, 163, 177, 182, 185, 188, 194, 196, 197, 200, 202, 207, 211, 224, 231, 241, 250, 261, 267, 272, 273, 276, 282, 286, 292, 300, 313, 329, 332, 333, 338, 352, 358, 370, 378, 397, 400, 404, 405, 408, 413, 414, 415, 420, 425, 435, 444, 446, 447, 448, 449, 458, 470, 474, 481, 492, 510, 519, 522, 528, 533, 537, 539, 541, 555, 557, 560, 561, 563, 572, 580, 588, 589, 600, 606, ...], '2017': [3, 5, 15, 20, 24, 29, 38, 44, 47, 56, 64, 67, 74, 75, 93, 94, 95, 124, 127, 130, 152, 155, 157, 158, 159, 166, 167, 172, 173, 174, 179, 190, 195, 198, 204, 210, 214, 218, 222, 223, 236, 239, 240, 248, 254, 260, 262, 265, 277, 287, 291, 293, 304, 306, 311, 316, 318, 326, 327, 342, 346, 347, 361, 362, 364, 365, 369, 380, 409, 419, 432, 433, 450, 451, 454, 455, 460, 466, 471, 477, 482, 493, 494, 496, 500, 503, 509, 536, 550, 552, 565, 568, 570, 571, 578, 579, 582, 584, 585, 590, ...]}

In [105]:
dfs = {}
for k, v in dfg.groups.items():
    print(k)
    dfs[k] = df.iloc[v]

2008
2010
2011
2012
2013
2014
2015
2016
2017

In [108]:
dfs['2014'].year_sent.head(50)

1      2014
25     2014
48     2014
51     2014
55     2014
65     2014
77     2014
79     2014
97     2014
101    2014
103    2014
120    2014
129    2014
136    2014
140    2014
156    2014
160    2014
169    2014
170    2014
178    2014
180    2014
187    2014
191    2014
192    2014
206    2014
212    2014
213    2014
215    2014
220    2014
225    2014
228    2014
238    2014
243    2014
244    2014
246    2014
251    2014
278    2014
281    2014
324    2014
328    2014
344    2014
349    2014
366    2014
379    2014
383    2014
385    2014
386    2014
388    2014
395    2014
401    2014
Name: year_sent, dtype: object

In [88]:
df[( df['year_sent'] == '2015' ) & (df['month_sent'] == '05') ][date_cols]

      year_sent month_sent day_sent
0          2015         05       08
36         2015         05       08
84         2015         05       19
111        2015         05       14
145        2015         05       08
...         ...        ...      ...
35638      2015         05       20
35839      2015         05       27
35885      2015         05       20
35887      2015         05       21
35920      2015         05       19

[518 rows x 3 columns]

In [82]:
df[df['month_sent'] == '2']

,filenm,From,Sent,To,CC,Bcc,Subject,Attachments,Importance,isThread,...,body_len,body,mn_nb_words,std_nb_words,mn_nb_chars,std_nb_chars,email_count,year_sent,month_sent,day_sent
2,01216_fn_17-2-IB2013-1-0_ln_44062.txt,kenmorris,"Tuesday, May 28, 2013 1:22 PM",kim@inkbridge.com,deborahcraig;lindsayjordan;jessicamiller;jayto...,NaN,Proposed Imagine Schedule,NaN,NaN,False,...,2328,"Kim, See comments in blue regarding the propos...",483.698113,1078.306464,2747.301887,6354.713186,53,2013,2,2
7,55782_fn_31-2-GaryYordon2-3_ln_4641.txt,paullamaster,"Thursday, October 29, 2015 at 3:21:42 PM Easte...",invalid,andrew.gillum@talgov.com,NaN,We look alike - my neighbor and me!,NaN,NaN,False,...,1098,"scof, gil.zier@talgov.com, curs.richardson@tal...",184.072937,127.504495,1288.858746,648.333393,3030,2015,2,2
16,64810_fn_9-6-Adam-Corey-2015-2-0-E_ln_1132.txt,miketadros,"Friday, October 23, 2015 4:00 PM",ryangrindler;adamcorey,invalid_nan,NaN,Fwd: Odor Complaint - Edison's @Cascade Park,NaN,NaN,False,...,209,"Ryan, while I was at the Edison today I notice...",98.472222,121.909917,505.388889,600.762909,36,2015,2,2
18,55668_fn_31-2-GaryYordon2-3_ln_330.txt,paullamaster,"Saturday, December 26, 2015 at 2:02:39 PM East...",invalid,rick.fernandez@talgov.com,NaN,The whole story,NaN,NaN,False,...,1064,"ProctorB@leoncounty.gov, curs.richardson@talgo...",184.072937,127.504495,1288.858746,648.333393,3030,2015,2,2
19,27111_fn_17-1-IB2012-1-0_ln_26643.txt,kennbass,"Tuesday, November 27, 2012 2:13 PM",marshafollmar,invalid_nan,NaN,RE: Burnette Construction & Development - Invo...,NaN,NaN,False,...,990,"Marsha, Sorry for the problems. The one to Lan...",29.000000,48.409240,133.416667,218.545796,12,2012,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35929,43256_fn_31-2-GaryYordon2-1_ln_32176.txt,paullamaster250@comcast.net,"March 26, 2017 at 9:21:19 AM EDT",maddoxn@leoncountyfl.gov;robertsw1@comcast.net...,invalid_nan,NaN,Tallahassee Democrat E-EdiSon ArScle,NaN,NaN,False,...,1231,Follow the link below to view the ar4cle. tall...,142.344473,154.951005,689.300771,737.507672,389,2017,2,2
35933,16888_fn_32-3-PaigeCS-3-1_ln_12784.txt,timlee,"Tuesday, March 28, 2017 at 3:27:17 PM Eastern...",allmailboxes,invalid_nan,NaN,Sent on Behalf COT Golf Tournament CommiSee M...,"image001.png, RelayforLife_Golf2017.jpg",NaN,False,...,1080,Sent on behalf of COT Golf Tournament Committe...,124.463087,135.107441,639.395973,690.248788,149,2017,2,2
35936,55898_fn_31-2-GaryYordon2-3_ln_9614.txt,gary@zprgroup.com,"Tuesday, September 29, 2015 at 10:53:38 PM Eas...",michellebono,invalid_nan,NaN,Re: COCA Video,NaN,NaN,False,...,1253,I understand. Traveling a bunch. Heading to Ch...,162.227630,147.017562,799.056515,705.829179,637,2015,2,2
35940,36011_fn_32-1-PaigeCS-1-2_ln_5990.txt,ryangrindler,"Wednesday, February 22, 2017 at 6:27:34 PM Eas...",paigecarter,ashleyedwardsadams,NaN,Re: Summer Movie Night Series Discussion Mee-ng,NaN,NaN,False,...,528,"All, We are s-ll working on some logis-cal iss...",391.582205,3697.345878,1530.448743,16101.781138,517,2017,2,2
35941,22004_fn_34-2-ScottMaddox2_ln_53965.txt,allison.fleming@talgov.com,"Tuesday, May 28, 2013 2:38 PM",scott@scottmaddox.com,paigecartersmith@gmail.com,NaN,Call Sheet,Call List 5-28.xlsx,NaN,False,...,401,Current Call sheet attached - including this g...,56.192571,72.060620,310.296188,370.403156,1023,2013,2,2